p, li, h1, h2, h3, th, td {
	font-family: "Source Sans Pro", "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	margin: 0;
}

ul.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 25%;
	/*background-color: #e3e3e3; */
	background-color: #14324d; /*#16344f;*/ /*#0065bd; */
	position: fixed;
	height: 100%;
	overflow: auto;
}

ul.nav li a {
	display: block;
	/*color: #000; */
	color: #ffffff;
	padding: 8px 16px;
	text-decoration: none;
}

ul.nav li a.active {
	/* background-color: #3f7f3f; */
	background-color: #0065bd; /*#003766;*/ /* #00549e; */ /* #0065bd; */
	color: white;
}

ul.nav li a:hover:not(.active) {
	background-color: #666769; /*#555;*/
	color: white;
}

code {
	border-style: solid;
	border-width: thin;
	display: block;
	font-family: monospace;
	white-space: pre;
}

tt {
	display: inline;
	font-family: monospace;
	white-space: pre;
	margin: 1em 0;
}

table {
	overflow-x: auto;
	border-collapse: collapse;
	width: 100%;
}

th, td {
	text-align: left;
	padding: 8px;
}


